#
# Use these settings for debugging
#
# xdebug.mode=develop,debug
# xdebug.client_host=host.docker.internal
# xdebug.start_with_request=yes
# xdebug.log=/tmp/xdebug.log
date.timezone=Europe/Berlin
memory_limit=1G
